.pokemon-card{
    align-items: center;
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 0 8px 8px -4px #f6f6f6;
}

.pokemon-card-img{
  object-fit: cover;
}

.pokemon-card-font-size{
  font-size: 1.05rem;
}

.pokemon-card-number{
  color: lightgray;
}

.pokemon-card-type-text{
  margin-bottom: 0px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  margin-right: 5px;
  font-size: 0.75rem;
}
