
<div class="d-flex home-icons-container" (click)="filterVisible()">
  <i class="fa-solid fa-filter home-icon"></i>
</div>
<div class="container">
  <h1 style="margin-bottom: 15px; font-weight: 700;">Pokédex</h1>
  <app-search (searchTextChanged)="onSearchTextEntered($event) "></app-search>
  <div class="d-flex">
    <div class="home-team">
      <h5 class="home-card-tekst" routerLink="/my-team">Mijn team</h5>
    </div>
    <div class="home-favo">
      <h5 class="home-card-tekst" routerLink="/favorites">Favorieten</h5>
    </div>
  </div>
</div>
<app-pokemon-card *ngFor="let item of filteredPokemons" [pokemon]="item"  routerLink="pokemon-detail/{{item.id}}"></app-pokemon-card>
<div class="container-filter" *ngIf="visible">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <h4 class="mt-4">Sorteren op</h4>
      <i class="fa-solid fa-square-minus mt-4" (click)="filterVisible()"></i>
    </div>
    <div class="filter-item d-flex align-items-center mt-3">
      <i class="fa-solid fa-arrow-up-z-a"></i>
      <p class="ml-3" style="margin:0px;" (click)="ascendingNameOrder()">Alphabetisch oplopend</p>
      <i class="fa-solid fa-check check-filter-icon" id="#check"></i>
    </div>
    <div class="filter-item d-flex align-items-center mt-3">
      <i class="fa-solid fa-arrow-up-z-a"></i>
      <p class="ml-3" style="margin:0px;" (click)="descendingNameOrder()">Alphabetisch aflopend</p>
      <i class="fa-solid fa-check check-filter-icon" id="#check"></i>
    </div>
    <div class="filter-item d-flex align-items-center mt-3">
      <i class="fa-solid fa-arrow-down-1-9"></i>
      <p class="ml-3" style="margin:0px;" (click)="ascendingIdOrder()">Ascending id</p>
      <i class="fa-solid fa-check check-filter-icon"></i>
    </div>
    <div class="filter-item d-flex align-items-center mt-3 mb-4">
      <i class="fa-solid fa-arrow-up-9-1"></i>
      <p class="ml-3" style="margin:0px;" (click)="descendingIdOrder()">Descending id</p>
      <i class="fa-solid fa-check check-filter-icon"></i>
    </div>
  </div>
</div>
