:host body{
  background-color: linear-gradient(rgb(255, 145, 0), rgb(255, 166, 0)) !important ;
}

.detail-img{
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
  object-fit: contain;
}

.container-img{
  margin-top: 2rem;
  text-align: center;
}

.about-card{
  align-items: center;
  border-radius: 0.75rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
}

.pokemon-card-type-text{
  margin-bottom: 0px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  margin-right: 5px;
  font-size: 0.75rem;
  width: fit-content;
  text-align: center;
}

.container-card-tekst{
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}

.card-text-gray{
  margin-bottom: 0;
  color: rgb(190, 189, 189);
}

.card-text-stats-gray{
  color: rgb(190, 189, 189);
  text-transform: capitalize;
  margin-bottom: 0;
}

.about-card-stats{
  border-radius: 0.75rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.5rem;
}

.card-text{
  margin-bottom: 0;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
}

.card-stats-text{
  color: black;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
}

.container-card-tekst-stats{
  margin-top: 0.75rem;
  flex-direction: column;
  width: 100px;
}

.team-bton{
  color: white;
  background-color: rgb(36, 36, 36);
  border-radius: 50px;
  font-size: 20px;
  width: 100%;
  z-index: 99;
}

.fixed-bton{
  position: fixed;
  bottom: 5%;
  left: 50%;
  margin-left: -50%;
}
