<div class="container mt-4 " *ngIf="pokemon">
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/"><i class="fa-solid fa-angle-left">Terug</i></a>
    <i (click)="removeAllFromTeam()" routerLink="/" style="font-size: 20px; color: rgb(206, 33, 33);" class="fa-regular fa-trash-can"></i>
  </div>
  <h3 class="mt-3">Mijn Team</h3>
  <div class="container" style="padding: 10px" *ngFor="let item of pokemon">
    <app-pokemon-card
      [pokemon]="item"
      routerLink="/pokemon-detail/{{ item.id }}"
    ></app-pokemon-card>
  </div>
</div>
